.rent-img {
    height: 200px;
    width: 100%
}
.rent {
    margin: 10px;
    padding: 10px;
    min-height: 400px;
    border: 1px solid black;
}
.list-div {
    margin: 10px;
}


p{
    margin: 0px;
}