.footer {
    min-height: 200px;
    background-color: #333333;
    color:white;
}
.about {
    margin: 10px;
    
}
.about-para {
    color: #737373;
}
.contact {
    float: right;
    margin-right: 20px;
}